.container {
  padding: 2rem 0;
  max-width: 60rem;
  margin: 0 auto;

  .subTitle {
    padding: 1rem 1.5rem;
    background: #edf2f7;
    font-weight: bold;
    font-size: 1.25rem;
  }

  .explanation {
    background: #000;
    color: #fff;
    padding: 1rem 2.25rem;
  }

  .ingredients {
    background: #edf2f7;
    padding: 1.75rem 1rem;
    margin: 0 0 40px;

    .ingredient {
      border: 1px solid #e2e8f0;
      border-radius: 0.75rem;
      background: #fff;
    }
  }
}
