.container {
  padding: 2rem 0;
  max-width: 60rem;
  margin: 0 auto;

  .explanation {
    // 親要素を超えて横幅いっぱいにする
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    border-top: 1px solid black;
    padding: 1rem 1.5rem;
    background: #edf2f7;

    .wrapper {
      max-width: 60rem;
      margin: 0 auto;
    }

    .unused {
      color: #e53e3e;
      font-weight: 600;
    }
  }
}
