.container {
  padding: 2rem 0;

  .label {
    font-weight: bold;
    font-size: 1.125rem;
    margin: 0;
  }

  .required {
    border: 1px solid #e53e3e;
    border-radius: 4px;
    color: #e53e3e;
    font-weight: bold;
    font-size: 0.75rem;
    padding: 2px;
  }
}
